.container {
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.products_container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.products {
  flex-wrap: wrap;
  margin: 20px;
  display: flex;
  width: 90%;
  height: 50%;
  justify-content: space-around;
}

.books {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid #0088ff 1px;
  border-radius: 5px;
  width: 200px;
  min-height: 250px;
  margin-right: 2px;
  margin-bottom: 20px;
}

.book_cover {
  margin-top: 20px;
  width: 180px;
  height: 280px;
}

.book_details {
  padding-top: 5px;

  width: 120px;
  min-height: 50px;
  font-size: 10px;
}
.details {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.checked {
  color: orange;
}

.book_name {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
}

.book_author {
  font-size: 10px;
}

.book_price {
  display: flex;
  justify-content: space-between;
}
